div {
  font-family: "Montserrat", sans-serif;
}
body {
  height: 1500px;
}

.navigationMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: hsla(283, 91%, 66%, 0.438);
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
}
.navigationMenu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: #eadfff;
  margin: 0px 5px 0px 5px;
  padding: 0px 3px 0px 3px;
  height: 35px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-radius: 15%;
  border-color: blueviolet;
}
.navigationMenu ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0%;
}
.navigationMenu a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(234, 0, 255);
  text-decoration: underline;
}
.navigationMenu a::after {
  content: "!";
}
.navigationMenu a:active {
  color: rgb(0, 255, 0);
}
.navigationMenu img {
  margin-left: 3%;
}
