.cart {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 200px;
}
.cart .order-wraper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
}
.cart .order-wraper .product-list {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.cart .order-wraper .product-list .product {
  display: flex;
  position: relative;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(68, 68, 68, 10%);
}
.cart .order-wraper .product-list .product .photo {
  max-width: 130px;
  width: 100%;
  height: 140px;
  background: rgba(241, 242, 243, 1);
}
.cart .order-wraper .product-list .product .product-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.cart .order-wraper .product-list .product .product-info .close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.cart .order-wraper .product-list .product .product-info .title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: black;
}
.cart .order-wraper .product-list .product .product-info .price-wrapper {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  position: relative;
}
.cart
  .order-wraper
  .product-list
  .product
  .product-info
  .price-wrapper
  .price-and-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart
  .order-wraper
  .product-list
  .product
  .product-info
  .price-wrapper
  .price-and-quantity
  .quantity {
  position: absolute;
  left: 150px;
  max-width: 109px;
  width: 100%;
  background: rgba(248, 248, 251, 1);
  display: flex;
  gap: 20px;
  padding: 17px 51px;
  align-items: center;
  justify-content: center;
}
.cart
  .order-wraper
  .product-list
  .product
  .product-info
  .price-wrapper
  .price-and-quantity
  .quantity
  .count-button {
  cursor: pointer;
  color: rgba(153, 153, 153, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
}
.cart
  .order-wraper
  .product-list
  .product
  .product-info
  .price-wrapper
  .price-and-quantity
  .quantity
  .count {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.cart .order-wraper .product-list .product .product-info .price-wrapper .total-price {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
}
.cart .order-wraper .order {
  max-width: 360px;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart .order-wraper .order .title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: capitalize;
  color: black;
}
.cart .order-wraper .order .order-price-wraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart .order-wraper .order .order-price-wraper .price-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(68, 68, 68, 1);
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(68, 68, 68, 10%);
}
.cart .order-wraper .order .order-price-wraper .price-row.delimiter {
  border-bottom: 2px solid black;
}
.cart .order-wraper .order .order-price-wraper .price-row.total {
  border-bottom: none;
  padding: 0;
}
.cart .order-wraper .order .order-price-wraper .price-row .name .additional {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}
.cart .order-wraper .order .order-price-wraper .price-row .price {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
  color: rgba(68, 68, 68, 1);
}

.cart .order-wraper .order .buttonLineWraper {
  max-width: unset;
}
.cart .order-wraper .order .buttonLineWraper .button {
  width: 100%;
  text-align: center;
}
.cart .promo-code-wrapper {
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart .promo-code-wrapper .promo-code {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cart .promo-code-wrapper .promo-code .buttonLineWraper {
  max-width: 95px;
}

.cart .promo-code-wrapper .promo-code .buttonLineWraper .button {
  max-width: 50px;
  padding: 19px 15px;
}
.cart .promo-code-wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart .promo-code-wrapper .info .title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: capitalize;
  color: black;
}
.cart .promo-code-wrapper .info .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(68, 68, 68, 1);
}
.cart .promo-code-wrapper .findUs {
  padding: 0;
}
.cart .promo-code-wrapper .findUs .socialLinks {
  padding-bottom: 140px;
}
