.header {
  display: flex;
  flex-direction: column;
}
.header .header-upper {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  width: 100%;
  margin: 50px auto;
}

.header .header-upper .headerLeftSide {
  display: flex;
  gap: 65px;
  align-items: center;
}
.header .header-upper .headerLeftSide .burgerLogo {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu .burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu .burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 22px;
  height: 14px;
  margin: 0px auto;
}
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu .burger::before,
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu .burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #000;
}
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu .burger::before {
  top: 0;
  box-shadow: 0 6px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu .burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.header
  .header-upper
  .headerLeftSide
  .burgerLogo
  .burgerMenu
  .burger-checkbox:checked
  + .burger::before {
  top: 6px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.header
  .header-upper
  .headerLeftSide
  .burgerLogo
  .burgerMenu
  .burger-checkbox:checked
  + .burger::after {
  bottom: 6px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.header .header-upper .headerLeftSide .burgerLogo .logo {
  display: block;
  width: 110px;
  height: 18px;
}
.header .header-upper .headerLeftSide .burgerLogo .burgerMenu {
  display: block;
  width: 22px;
  height: 14px;
}

.header .header-upper .headerLeftSide .headerNavigation {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 14px;
}
.header .header-upper .headerLeftSide .headerNavigation .headerNavigationUnit {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}
.header .header-upper .headerLeftSide .headerNavigation .headerNavigationUnit a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #444444;
}
.header
  .header-upper
  .headerLeftSide
  .headerNavigation
  .headerNavigationUnit.active
  .regularArrow {
  display: none;
}

.header
  .header-upper
  .headerLeftSide
  .headerNavigation
  .headerNavigationUnit.active
  .hoverArrow {
  display: inline-block;
}

.header .header-upper .headerLeftSide .headerNavigation .headerNavigationUnit:hover,
.header .header-upper .headerLeftSide .headerNavigation .headerNavigationUnit.active {
  color: #ff8e8e;
}

.header
  .header-upper
  .headerLeftSide
  .headerNavigation
  .headerNavigationUnit
  .hoverArrow {
  display: none;
}

.header
  .header-upper
  .headerLeftSide
  .headerNavigation
  .headerNavigationUnit:hover
  .hoverArrow {
  display: inline-block;
}

.header
  .header-upper
  .headerLeftSide
  .headerNavigation
  .headerNavigationUnit:hover
  .regularArrow {
  display: none;
}

.header .header-upper .headerRightSide {
  display: flex;
  gap: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.header .header-upper .headerRightSide .headerRightSideIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-upper .headerRightSide .headerRightSideIcons img {
  cursor: pointer;
}
.header .header-upper .headerRightSide .headerRightSideIcons .count {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.header .header-upper .headerRightSide .headerRightSideIcons .count .span {
  display: inline-block;
  align-items: center;
  background-color: black;
  text-align: center;
  border-radius: 50%;
  padding: 50% 0;
  width: 100%;
  position: absolute;
  margin-left: 4px;
}
.header .header-upper .headerRightSide .headerRightSideIcons .count .text {
  color: white;
  position: relative;
  top: 0;
  left: 4px;
  padding: 0px 6px;
}
