* {
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0 20px 220px 20px;
  background-color: #140e17;
}
.container-wrapper {
  max-width: 1018px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 94px;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.header .header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #333333;
  border-radius: 32px;
  max-width: 1018px;
  width: 100%;
}
.header .header-wrapper .logo {
  padding: 18px 0px 18px 24px;
}
.header .header-wrapper .logo .logo-wraper {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #f5fa93;
  border-radius: 16px;
  max-width: 190px;
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
}
.header .header-wrapper .logo .logo-wraper .logo-icon {
  max-width: 20px;
  max-height: 20px;
}
.header .header-wrapper .logo .logo-wraper .logo-icon img {
  max-width: 20px;
  max-height: 20px;
}
.header .header-wrapper .logo .logo-wraper .logo-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}
.header .header-wrapper .login-button-navigation .navigation-wrapper {
  display: flex;
  align-items: center;
  gap: 165px;
  width: 100%;
  padding: 18px 24px 18px 0px;
}
.header
  .header-wrapper
  .login-button-navigation
  .navigation-wrapper
  .login-button
  .login {
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 56px;
  background-color: #ebebeb;
  border-radius: 16px;
}
.header .header-wrapper .login-button-navigation .navigation-wrapper .login-button {
  display: flex;
  align-items: center;
}
.header
  .header-wrapper
  .login-button-navigation
  .navigation-wrapper
  .login-button
  .login-text {
  display: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.header
  .header-wrapper
  .login-button-navigation
  .navigation-wrapper
  .login-button
  .login-text:hover {
  color: #f5fa93;
}
.header
  .header-wrapper
  .login-button-navigation
  .navigation-wrapper
  .login-button
  .login {
  height: 40px;
}
.header .header-wrapper .login-button-navigation .navigation-wrapper .login-button img {
  padding: 8px 16px;
}
.header .header-wrapper .login-button-navigation .navigation-items {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 522px;
  width: 100%;
}

.header .header-wrapper .login-button-navigation .navigation-items .navigation-item {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.header
  .header-wrapper
  .login-button-navigation
  .navigation-items
  .navigation-item:hover {
  color: #f5fa93;
}
.header .burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.hero-block {
  display: flex;
  gap: 17px;
}
.hero-block .hero-block-image {
  max-width: 444px;
  width: 100%;
}
.hero-block .hero-block-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 53px;
}
.hero-block .hero-block-text-wrapper .hero-block-title-rows .hero-block-title-row {
  color: white;
  font-weight: 800;
  font-size: 68px;
  line-height: 110%;
}
.hero-block .hero-block-text-wrapper .hero-block-title-rows {
  position: relative;
}
.hero-block .hero-block-text-wrapper .hero-block-title-rows .illustration img {
  position: absolute;
  right: 13px;
  top: -14px;
}
.hero-block .hero-block-text-wrapper .hero-block-title-rows .underline img {
  position: absolute;
  left: 57px;
  bottom: -34px;
}
.hero-block .hero-block-text-wrapper .hero-block-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  max-width: 539px;
}
.input-area {
  display: flex;
  gap: 24px;
}
.input-area input {
  outline: none;
  max-width: 317px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 18px;
  padding: 17px 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  border: none;
}
.input-area .button-wrapper {
  background-color: #f5fa93;
  max-width: 222px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  gap: 8px;
  padding: 18px 14px;
  cursor: pointer;
}
.input-area .button-wrapper .button-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 8px;
}
.input-area .button-wrapper .button-text {
  display: flex;
  align-items: center;
  height: 25px;
}

.feature-items {
  display: flex;
  gap: 24px;
}
.feature-items .feature-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 318px;
  width: 100%;
  border: 1px solid #f5fa93;
  border-radius: 32px;
  padding: 32px 32px 32px 32px;
}
.feature-items .feature-item .icon-element.left {
  display: flex;
  justify-content: left;
  height: 80px;
}
.feature-items .feature-item .icon-element.center {
  display: flex;
  justify-content: center;
  height: 80px;
}
.feature-items .feature-item .icon-element.right {
  display: flex;
  justify-content: right;
  height: 80px;
}

.feature-items .feature-item .item-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.feature-items .feature-item .item-text .item-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  color: #ffffff;
}
.feature-items .feature-item .item-text .item-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.screens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.screens .colage img {
  max-width: 1000px;
  width: 100%;
}
.screens .colage-desription-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid #333333;
  border-radius: 32px;
  padding: 24px;
}
.screens .colage-desription-wrapper .descriprtion-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.screens .colage-desription-wrapper .button-link {
  display: flex;
  justify-content: end;
}
.screens .colage-desription-wrapper .button-link a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  border: 1px solid #333333;
  padding: 18px 14px;
  border-radius: 18px;
}

.tariffs .tariffs-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-transform: lowercase;
  color: #f5fa93;
  padding: 0 0 32px 24px;
}
.tariffs .tariffs-items .tariff-item .best-choice {
  display: none;
}
.tariffs .tariffs-items .tariff-item.tag .best-choice {
  position: absolute;
  top: -25px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  background-color: #000000;
  border: 1px solid #333333;
  border-radius: 18px;
  max-width: 146px;
  padding: 13px;
}
.tariffs .best-choice span {
  display: flex;
  align-items: center;
  height: 22px;
}
.tariffs .tariffs-items {
  display: flex;
  gap: 32px;
}

.tariffs .tariffs-items .tariff-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 484px;
  height: 448px;
  width: 100%;
  background-color: #f5fa93;
  border-radius: 32px;
  padding: 32px;
}
.tariffs .tariffs-items .tariff-item .item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.tariffs .tariffs-items .tariff-item .tariff-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-transform: lowercase;
}

.tariffs .tariffs-items .tariff-item .tariff-price .bold {
  font-weight: 800;
  font-size: 68px;
  line-height: 110.00000000000001%;
  color: #000000;
}
.tariffs .tariffs-items .tariff-item .tariff-price .regular {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}
.tariffs .tariffs-items .tariff-item .list-title {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  vertical-align: middle;
}
.tariffs .tariffs-items .tariff-item .list ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0 0 0 32px;
}
.tariffs .tariffs-items .tariff-item .list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.tariffs .tariffs-items .tariff-item .list li::before {
  content: url(./icons/chek.svg);
  position: absolute;
  left: -32px;
  max-height: 24px;
}
.tariffs .tariffs-items .tariff-item .tariff-button-wraper {
  background-color: #000000;
  max-width: 200px;
  width: 100%;
  border-radius: 18px;
}
.tariffs .tariffs-items .tariff-item .tariff-button-wraper a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  padding: 21px 14px;
}
.faq .faq-title {
  padding: 0 0 32px 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #f5fa93;
}
.faq .faq-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq .faq-wrapper .faq-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #333333;
  border-radius: 32px;
}
.faq .faq-wrapper .faq-item .faq-item-wrapper {
  padding: 24px;
}
.faq .faq-wrapper .faq-item.active .faq-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}
.faq .faq-wrapper .faq-item .faq-item-wrapper .faq-item-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.faq .faq-wrapper .faq-item .faq-item-wrapper .faq-item-title .faq-item-title-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.faq .faq-wrapper .faq-item .faq-item-wrapper .faq-item-description {
  color: #76757b;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.faq
  .faq-wrapper
  .faq-item.active
  .faq-item-wrapper
  .faq-item-title
  .plus-minus
  .faq-item-icon-plus {
  display: none;
}
.faq
  .faq-wrapper
  .faq-item:not(.active)
  .faq-item-wrapper
  .faq-item-title
  .plus-minus
  .faq-item-icon-minus {
  display: none;
}

.footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer-wrapper .column {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 232px;
  width: 100%;
}
.footer .footer-wrapper .column .footer-logo {
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.footer .footer-wrapper .column .footer-logo .logo-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}
.footer .footer-wrapper .column .socials {
  display: flex;
  gap: 20px;
}
.footer .footer-wrapper .column .column-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer-wrapper .column .column-links li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}
.feedback-form .feedback-icon {
  position: fixed;
  bottom: 64px;
  right: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5fa93;
  max-width: 56px;
  padding: 18px 18px 16px 18px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 1040px) {
  .container-wrapper {
    max-width: 1000px;
  }
  .hero-block .hero-block-image {
    position: absolute;
    right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-block .hero-block-image {
    position: absolute;
    opacity: 0.2;
    right: 20px;
  }
  .feature-items {
    align-items: center;
    flex-direction: column;
  }
  .feature-items .feature-item {
    max-width: 728px;
  }
  .feedback-form .feedback-icon {
    bottom: 64px;
    right: 20px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    display: block;
  }
  .header .header-wrapper .login-button-navigation .navigation-wrapper {
    display: none;
  }
  .header .header-wrapper {
    display: block;
    justify-content: space-between;
    position: relative;
  }
  .label-wrapper {
    padding: 18px 18px 18px 0px;
    position: absolute;
    top: 0px;
    right: 5px;
  }
  .header .header-wrapper .login-button-navigation .wrapper-button {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 2px;
    position: relative;
    background-color: rgba(118, 117, 123, 1);
    padding: 20px 28px;
    border-radius: 18px;
  }
  .header .header-wrapper .login-button-navigation .wrapper-button span,
  .header .header-wrapper .login-button-navigation .wrapper-button span::before,
  .header .header-wrapper .login-button-navigation .wrapper-button span::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #000;
    transition: 0.4s;
  }
  .header .header-wrapper .login-button-navigation .wrapper-button span {
    top: 21px;
    left: 22px;
    background-color: #ffffff;
  }

  .header .header-wrapper .login-button-navigation .wrapper-button span::before {
    top: -6px;
    background-color: #ffffff;
  }
  .header .header-wrapper .login-button-navigation .wrapper-button span::after {
    top: -6px;
    background-color: #ffffff;
  }

  .header .burger-checkbox:checked ~ .header-wrapper .label-wrapper span {
    background: transparent;
  }
  .header .burger-checkbox:checked ~ .header-wrapper .label-wrapper span::before {
    transform: rotate(45deg);
    top: -2px;
    transform-origin: center;
  }
  .header .burger-checkbox:checked ~ .header-wrapper .label-wrapper span::after {
    transform: rotate(-45deg);
    top: -2px;
    transform-origin: center;
  }
  .header .burger-checkbox:checked ~ .header-wrapper .label-wrapper {
    position: fixed;
    top: 64px;
    right: 25px;
    z-index: 3;
  }
  .header .burger-checkbox:checked ~ .header-wrapper .navigation-wrapper {
    background-color: rgba(51, 51, 51, 1);
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    padding: 0px 24px 24px 24px;
    max-width: calc(100% - 40px);
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 64px;
    right: 20px;
    border-radius: 32px;
  }
  .header .burger-checkbox:checked ~ .header-wrapper .logo {
    display: none;
  }
  .header .burger-checkbox:checked ~ .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
  }

  .header
    .burger-checkbox:checked
    ~ .header-wrapper
    .login-button-navigation
    .navigation-wrapper
    .navigation-items {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    max-width: none;
  }
  .header
    .burger-checkbox:checked
    ~ .header-wrapper
    .login-button-navigation
    .navigation-wrapper
    .login-text {
    display: block;
  }
  .header
    .burger-checkbox:checked
    ~ .header-wrapper
    .login-button-navigation
    .navigation-wrapper
    .login-button {
    gap: 50px;
    justify-content: space-between;
    width: 100%;
    padding: 142px 0 24px 24px;
  }
  .header
    .burger-checkbox:checked
    ~ .header-wrapper
    .login-button-navigation
    .navigation-wrapper
    .navigation-items
    .navigation-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 24px;
    border-top: 1px solid rgba(118, 117, 123, 1);
    width: 100%;
    text-align: left;
  }
  .header
    .burger-checkbox:checked
    ~ .header-wrapper
    .login-button-navigation
    .navigation-wrapper
    .navigation-items
    .navigation-item:hover {
    color: #f5fa93;
  }
}

@media screen and (max-width: 820px) {
  .footer .footer-wrapper .column {
    max-width: 332px;
    width: 100%;
  }
  .footer .footer-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (max-width: 730px) {
  .footer .footer-wrapper .column {
    max-width: 220px;
    width: 100%;
  }
  .footer .footer-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (max-width: 800px) {
  .tariffs .tariffs-items .tariff-item {
    height: 496px;
  }
}
@media screen and (max-width: 700px) {
  .tariffs .tariffs-items {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .input-area {
    flex-direction: column;
    gap: 16px;
  }
  .hero-block .hero-block-text-wrapper .hero-block-title-rows .hero-block-title-row {
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
  }
  .hero-block .hero-block-text-wrapper .hero-block-title-rows {
    max-width: 335px;
  }
  .hero-block .hero-block-text-wrapper .hero-block-title-rows .illustration img {
    height: 30px;
    width: 34px;
    right: 36px;
    top: 0;
  }
  .hero-block .hero-block-text-wrapper .hero-block-title-rows .underline img {
    width: 100px;
    height: 20px;
    left: 0;
    bottom: -20px;
  }
  .hero-block .hero-block-image img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .footer .footer-wrapper .column {
    max-width: 220px;
    width: 100%;
  }
  .footer .footer-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }
}
