.gridTemplateColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gridTemplateColumnsElement {
  border: 1px solid black;
}

.inlineGridTemplateColumns {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
.inlineGridTemplateColumnsElement {
  border: 1px solid black;
}
.gridTemplaterows {
  display: grid;
  grid-template-rows: 35px 35px 35px;
}
.gridTemplateRowsElement {
  border: 1px solid black;
}
.gap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
.gapElement {
  background-color: black;
  color: white;
}
.gridColumnAndGridRow {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 50px 35px 1fr;
  gap: 10px;
}
.gridColumnAndGridRowElement {
  background-color: black;
  color: white;
}
.wide {
  grid-column: 1/3;
  grid-row: 1;
}
.tall {
  grid-column: 3;
  grid-row: 1/3;
}
.justifyItems {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}
.justifyItemsHorizon {
  display: grid;
  border: 1px solid black;
  justify-items: center;
}

.alignItems {
  display: grid;
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 200px;
  gap: 10px;
}
.alignItemsVertical {
  display: grid;
  background-color: black;
  color: white;
  align-items: center;
}
.justifyContent {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
  justify-content: center;
}
.justifyContentHorizon {
  display: grid;
  border: 1px solid black;
}
.alignContent {
  min-height: 400px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(3, 60px);
  gap: 10px;
  align-content: center;
}
.alignContentVertical {
  border: 1px solid black;
}
.place {
  min-height: 800px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  grid-template-rows: repeat(2, minmax(100px, 200px));
  place-content: space-around; /* шорткат к align-content: space-between и justify-content: space-between*/
}
.placeCenter {
  display: grid;
  border: 1px solid black;
  place-items: center; /* шорткат к align-items: center и justify-items: center*/
}
.item1 {
  align-self: baseline;
  justify-self: baseline;
}
.gridTemplateArea {
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 0.25fr 5fr 0.25fr 1fr;
  grid-template-rows: repeat(4, 150px);
  grid-template-areas:
    "head head head head head "
    "LeftAside . contentArea . rightAside "
    "LeftAside . contentArea . rightAside "
    "LeftAside info info info rightAside ";
  place-content: center;
}

.head {
  grid-area: head;
  background-color: aqua;
  display: grid;
  place-items: center;
}
.LeftAside {
  display: grid;
  place-items: center;
  grid-area: LeftAside;
  background-color: blueviolet;
  color: white;
}
.rightAside {
  display: grid;
  place-items: center;
  grid-area: rightAside;
  background-color: blueviolet;
  color: white;
}
.contentArea {
  display: grid;
  place-items: center;
  grid-area: contentArea;
  background-color: darkgrey;
}
.info {
  display: grid;
  place-items: center;
  grid-area: info;
  background-color: steelblue;
}
.autoFit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.autoFititems {
  display: grid;
  border: 1px solid black;
  justify-items: center;
}
.autoFill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.autoFillitems {
  display: grid;
  border: 1px solid black;
  justify-items: center;
}
